<html>
<head>
    <title>Link Replacer</title>
</head>
<body>
<form action="/submit" method="post">
    <label for="text_dd">Enter Text:</label>
    <textarea name="text_box" id="text_box"></textarea>
    <br>
    <label for="animal">Select Domain:</label>
    <select name="domen" id="domen">
        <option value="ES">ES</option>
        <option value="DK">DK</option>
        <option value="SE">SE</option>
        <option value="NO">NO</option>
        <option value="EU">EU</option>
        <option value="DE">DE</option>
        <option value="NL">NL</option>
        <option value="UK">UK</option>
        <option value="FR">FR</option>
        <option value="FI">FI</option>
        <option value="
IT">IT</option>
        <option value="AT">AT</option>
        <option value="PT">PT</option>
        <option value="PL">PL</option>
        <option value="BE-FR">BE-FR</option>
        <option value="BE-NL">BE-NL</option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
